body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.no-image {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  color: #777;
  font-size: 1em;
  border-radius: 5px;
}

.card-title {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 1.2em;
  margin-top: 10px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.game-details {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.game-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.game-info {
  max-width: 600px;
  text-align: left;
}

.game-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.game-info p {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #555;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

.back-btn:hover {
  background-color: #0056b3;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.game-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 300px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;
}

.game-card:hover {
  transform: scale(1.03);
}

.game-image {
  width: 100%;
  border-radius: 4px;
}

h3 {
  margin: 15px 0 10px 0;
}

.game-details-link {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: block;
  margin-top: auto;
}

.game-details-link:hover {
  background-color: #0056b3;
}

.search-bar {
  margin-bottom: 30px;
  text-align: center;
}

#searchInput {
  width: 50%;
  padding: 15px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  transition: border 0.3s;
}

#searchInput:focus {
  border-color: #4CAF50;
}
