<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ item.name }} Details</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>{{ item.name }} Details</h1>
      <div class="item-detail">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ item.id }}.png" alt="{{ item.name }}" />
        <p><strong>ID:</strong> {{ item.id }}</p>
        <p><strong>Name:</strong> {{ item.name }}</p>
        <p><strong>Type:</strong> {{ item.type }}</p>
        <p><strong>Max Stack Size:</strong> {{ item.stackSize }}</p>
      </div>

      <p><a href="{{ url_for('index') }}">Back to all Minecraft Items</a></p>
    </div>
  </body>
</html>
